*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
  	height: 100%;
  	background-color: #1EA1F2;
}

main{
	font-family: 'Montserrat', sans-serif;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	header{
		text-transform: uppercase;
		color: #a9d1e8;
	}

	.quote {
		color: #fff;
		padding-top: 100px;
	}

	.author{
		text-align: center;
		color: #fff;
		padding-top: 40px;
		padding-bottom: 70px;
	}

  	.btn {
  		display: block;
  		width: 400px;
  		padding: 10px;
  		background-color: #1EA1F2;
  		color: #fff;
  		border: 1px solid rgba(255, 255, 255, 0.5);
  		text-align: center;
  		text-decoration: none;
  		margin: 30px 0;
  		font-size: 16px;
  		cursor: pointer;
  		transition: all 0.2s ease-in;
  		border-radius: 3px;
  		&:hover{
			background-color: #26afff;
			border-color: rgba(255, 255, 255, 1.0)
  		} 

  	}
}

.show{
	display: block !important;
}

/* LOADING */

.spinner {
  position: relative;
  top: 100px;	
  animation: spin 3s linear infinite;
  width: 60px;
  height: 60px;
  display: none;
}

.dot1, .dot2 {
  animation: pulse 1.5s ease-in-out infinite alternate;
  border-radius: 50%;
  background-color: aqua;
  width: 30px;
  height: 30px;
  margin: auto;
}

.dot2 {
  animation-delay: 1.5s;
}

@keyframes pulse {
  0% {
    transform: scale(0.2);
    opacity: 0.25
  }
  100% {
    transform: scale(1);
    opacity: 1
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

@media (max-width: 768px) {
	main{
		height: 500px;
		width: 320px;
		padding: 10px;
		margin: 0 auto;

		header{
			font-size: 10px;
		}

		.quote {
			padding-top: 40px;
			font-size: 15px;
		}

		.author{
			font-size: 15px;
			text-align: left;
			padding-top: 20px;
			padding-bottom: 10px;
		}
		
		.btn {
			width: 300px;
		}
	}
}